@model CreateBookingViewModel
<style>


    body, input, button {
        font-family: 'Poppins', sans-serif;
    }

    .booking-form {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        background: linear-gradient(135deg, #f3e7e9, #e3eeff);
    }

        .booking-form h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #0056b3;
        }

        .booking-form .form-control {
            border-radius: 25px;
            padding-left: 20px;
            box-shadow: none;
            border: 1px solid #d1d1d1;
        }

            .booking-form .form-control:focus {
                border-color: #007BFF;
                box-shadow: none;
            }

        .booking-form .btn {
            width: 100%;
            border-radius: 50px;
            padding: 10px 20px;
            background: linear-gradient(90deg, #007BFF, #0056b3);
            border: none;
            color: white;
            transition: 0.3s;
        }

            .booking-form .btn:hover {
                background: linear-gradient(90deg, #0056b3, #007BFF);
            }
</style>

<div class="container">
    <div class="booking-form">
        <h2>Book your tour now</h2>
        <form asp-action="CreateBooking" asp-controller="Booking" method="post">
            <input type="hidden" asp-for="TouristTourId" />

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Enter your email" />
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Phone number</label>
                <input type="text" class="form-control" asp-for="PhoneNumber" required placeholder="Enter your phone number" />
            </div>

            <div class="form-group">
                <label for="BookedDate">Date of booking</label>
                <input type="date" class="form-control" asp-for="BookedDate" required min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" placeholder="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
            </div>

            <div class="form-group">
                <label for="CountOfPeople">Number of Persons</label>
                <input type="number" class="form-control" asp-for="CountOfPeople" required min="1" />
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn">Submit  request</button>
            </div>
        </form>
    </div>
</div>
