/*.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;*/ /* Подравняване в редица */
    /*justify-content: center;*/ /* Центриране на звездите */
/*}

.star {
    position: relative;
    line-height: 50px;
    transition: color 0.2s ease;
    color: #ebebeb;*/ /* Цветът на неактивните звезди */
    /*cursor: pointer;
    font-size: 50px;*/ /* Размер на звездите */
    /*width: 50px;*/ /* Фиксирана ширина за звездите */
    /*height: 50px;*/ /* Фиксирана височина за звездите */
/*}

    .star:before {
        content: '\2605';*/ /* Unicode символ за звезда */
        /*display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;*/ /* Вертикално подравняване */
    /*}*/

    /* Цветът на звездите при ховър и за запълнените звезди */
    /*.star.full:before,
    .star.half:before,
    .star.hover:before {
        color: gold;
    }

    .star.full:before {
        color: gold;*/ /* Цветът на запълнените звезди */
    /*}

    .star.half:before {
        color: gold;*/ /* Цветът на половинчатите звезди */
        /*position: absolute;
        width: 25px;*/ /* Половината от звездата */
        /*overflow: hidden;
        text-align: center;
        line-height: 50px;*/ /* Вертикално подравняване */
    /*}*/

.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Подравняване в редица */
    justify-content: center; /* Центриране на звездите */
}

.star {
    position: relative;
    line-height: 50px;
    transition: color 0.2s ease;
    color: #ebebeb; /* Цветът на неактивните звезди */
    cursor: pointer;
    font-size: 50px; /* Размер на звездите */
    width: 50px; /* Фиксирана ширина за звездите */
    height: 50px; /* Фиксирана височина за звездите */
}

    .star:before {
        content: '\2605'; /* Unicode символ за звезда */
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px; /* Вертикално подравняване */
    }

    /* Цветът на звездите при ховър и за запълнените звезди */
    .star.full:before,
    .star.half:before,
    .star.hover:before {
        color: gold;
    }

    .star.full:before {
        color: gold; /* Цветът на запълнените звезди */
    }

    .star.half:before { 
        content: '\2605'; /* Unicode символ за звезда */
        color: gold; /* Цветът на половинчатите звезди */
        position: absolute;
        overflow: hidden;
        width: 50%; /* Половината от звездата */
        left: 0;
        top: 0;
        height: 100%;
        text-align: center;
    }
    .star:hover::before {
        color:gold;
    }
