.ratings {
    display: flex;
    list-style-type: none;
    margin: 1em 0; /* Центриране по вертикал */
    padding: 0; /* Премахване на вътрешните отстъпи */
    justify-content: center; /* Центриране на звездите в контейнера */
}

.star {
    cursor: pointer;
    line-height: 1; /* Подобрено позициониране */
    font-size: 40px; /* Настройка на размера на звездите */
    color: #ebebeb; /* Първоначален цвят на звездите */
    transition: color 0.2s ease; /* Гладка анимация при промяна на цвета */
}

    .star:hover,
    .star:hover ~ .star { /* При ховър цветът на предходните звезди също се променя */
        color: #ffc107; /* Златисто-жълт цвят при ховър */
    }

    .star.active {
        color: #ffc107; /* Жълт цвят за активните звезди */
    }
