@using TouristTourGuideWebApp.Areas.Admin.ViewModel.AppUserViewModels
@model AllUserViewModel

@{
    ViewBag.Title = "All Registerd Users";
}
<h2 class="text-center"></h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Email</label></th>
            <th><label>Full Name</label></th>
            <th><label>Phone Number</label></th>
            <th><label>User is tourist guide</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guide in Model.AllUsersList)
        {
            <tr>
                <td><label>@guide.Email</label></td>
                <td><label>@guide.Name</label></td>
                <td><label>@guide.PhoneNumber</label></td>
                <td>
                    @if (guide.PhoneNumber != null)
                    {
                        <label>&#10004</label>
                    }
                    else
                    {
                        <label class="text-center">&#10060</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>