@using Microsoft.AspNetCore.Identity
@using TouristTourGuide.Data.Models.Sql.Models
@using TouristTourGuide.Services.Interfaces
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IGuideUserService guideService

@{
    bool isGuide = guideService.isUserGuide(UserManager.GetUserId(this.User));

}
<head>
    <style>
        .nav-item {
            position: relative; /* Ако вече не е зададено */
            z-index: 1;
        }

            .nav-item::before {
                content: '';
                position: absolute;
                top: 0; /* Позициониране в горната част на елемента */
                left: 0; /* Позициониране в левия край на елемента */
                width: 0; /* Начална ширина е 0 */
                height: 3px; /* Височината на бордъра */
                background: #FFD550; /* Цвета на бордъра */
                transition: width 0.35s ease; /* Анимация на ширината */
            }

            .nav-item:hover::before {
                width: 100%; /* При ховър ширината става 100% */
            }

    </style>
 </head>
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (isGuide)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Profile" asp-controller="GuideUser" title="Manage">My Profile</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="AppUser" asp-action="AppUserProfile" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        @* asp-area="Identity" asp-page="/Account/Register"*@
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="AppUser" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="AppUser" asp-action="LogIn">Login</a>
        </li>
    }
</ul>
